* {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus,
a:active {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

:root {
    --background-color: #f8f7f1;
    --primary-color: #0d2f3f;
    --secondary-color-1: rgb(40, 111, 108);
    --secondary-color-2: rgb(242, 112, 78);
    --secondary-color-3: rgb(238, 192, 72);
    font-family: Eudoxus Sans, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: color-mix(in lab, var(--primary-color), rgb(96, 96, 96));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}